VITE_FIREBASE_API_KEY=AIzaSyC5VdCvcq-zjUNd5g1Xnn31IT5ftGPm-_4
VITE_FIREBASE_AUTH_DOMAIN=land-ho-c0342.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=land-ho-c0342
VITE_FIREBASE_APP_ID=1:514809144880:web:045bb30091dd82f03caff5
VITE_FIREBASE_STORAGE_BUCKET=land-ho-c0342.firebasestorage.app
VITE_MAPBOX_ACCESS_TOKEN=REDACTEDeyJ1IjoibWFyazc5ODc5OCIsImEiOiJjbW0xMmJuY3UwM2JnMnJvbTh3c2R1MnplIn0.TpoibfaH557L_74Z1QflYA
VITE_MAPBOX_ACCESS_TOKEN=REDACTEDeyJ1IjoibWFyazc5ODc5OCIsImEiOiJjbW0xMm5zZDcwNTNsMzFweDFzc3NhaXQ3In0.ooq0Uy79FYO_Fg0YkT7J4A